


.one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-bottom: 20px;
    
}
.card{
    margin-bottom: 20px;
}
button {
    margin:auto;
    display:block;
  }